body{
  background-color: black;
  font-family:Helvetica;
  color: seashell;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2{
  font-weight: bolder;
  padding: 10px;
  margin: 0;
}

h4{
  font-weight: bold;
  padding: 10px;
  margin:0;
}

.header{
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  top: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.header img{
  height: 50px;
}

.toplinks a{
  margin-left: 25px;
  margin-top: auto;
}

.midcontainer{
  text-align: center;
  width: 1200px;
}

.midcontainer img{
  height: 700px;
}

#mission{
  position: relative;
  bottom: 420px;
}

#tea{
  text-align: center;
}
.caption{
  text-align: center;
  padding: 10px;
}

.flex-container{
  width: 1000px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container img{
  width:300px;
  height:200px;
}

#locations{
  background-image: url("../images/locations.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#locations h2{
  font-weight: bold;
  text-align: center;
}

.location{
  width:300px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color:seashell;
  opacity: 1;
  margin-right: 40px;
  display: inline-block;
}

.location:last-child{
  margin-right: 0;
}
